@import url("https://fonts.googleapis.com/css?family=Spartan:wght@100; 200;300;400;500; 600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}
.section-p1{
  padding:40px 80px;
}
.section-m1{
  margin:40px 0;
}
button.normal{
  font-size:14px;
  font-weight: 600px;
  padding:15px 30px;
  color:#000;
  background-color:#fff;
  border-radius: 4px;
  cursor:pointer;
  border:none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size:13px;
  font-weight: 600px;
  padding:11px 18px;
  color:#fff;
  background-color:transparent;
  cursor:pointer;
  border:1px solid #fff;
  outline: none;
  transition: 0.2s;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}

.section p1 {
  padding: 40px 80px;
}
.section m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}
p{
    font-size:16px;
    color:#465b52;
    margin:15px 0 20px 0;
}
/* header-section */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 80px;
    background:#E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position:sticky;
    top:0;
    left:0;
}
#navbar{
   display: flex;
   justify-content: center;
   align-items: center;

}
#navbar li{
    list-style-type:none;
    padding:0 20px;
    position: relative;
}
.nav-links{
    text-decoration: none;
    display: block;
    font-size:16px;
    font-weight: 600;
    color:#1e1e1e;
    transition: 0.3s ease;
}
.nav-links:hover,
.nav-links.active{
    color:#088178;
}
.nav-links.active::after,
.nav-links:hover::after{
    content:"";
    width:30%;
    height:2px;
    background-color:#088178;
    position: absolute;
    bottom:-4px;
    left:20px;
}
/* hero-section-start */
#hero{
    background-image:url('./image/hero4.png');
    height:90vh;
    width:100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding:0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4{
    padding-bottom:15px;
}
#hero h1{
    color:#088178;
}
#hero button{
    background-image: url('./image//button.png');
    background-color:transparent;
    color:#088178;
    border:0;
    padding:14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor:pointer;
    font-weight: 700px;
    font-size:16px;
}
/* feature-section */
.feature-single-box{
    width:180px;
    text-align: center;
    padding:25px 15px;
    box-shadow:20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    border-radius: 5px;
    margin:15px 0;
}
.feature-single-box::hover{
     box-shadow:10px 10px 54px rgba(70,62,221,0.1);
}
.feature-single-box img{
    width:100%;
}
.feature-single-box h6{
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius:5px;
    background-color:#fddde4;
    color:#088178;
    display: inline-block;
}
#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.feature-single-box:nth-child(2) h6{
  background-color:#cdebbc;
}
.feature-single-box:nth-child(3) h6{
  background-color:#d1e8f2;
}
.feature-single-box:nth-child(4) h6{
  background-color:#cdd4f8;
}.feature-single-box:nth-child(5) h6{
  background-color:#f6dbd6;
}.feature-single-box:nth-child(6) h6{
  background-color:#fff2e5;
}
#product-1{
  text-align: center;
}
.product-card{
  width:20%;
  min-width:200px;
  padding:10px 12px;
  border:1px solid #cce740;
  border-radius: 25px;
  cursor:pointer;
  box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
  margin:15px 0;
  transition: 0.2s ease;
  position: relative;
}
.product-card img{
  width:100%;
  border-radius:20px;
}
.product-card:hover{
  box-shadow:20px 20px 30px rgba(0,0,0,0.06) ;
}
.product-item .description{
  text-align: start;
  padding:10px 0;
}
.product-card .description span{
  color:#606063;
  font-size:12px;
}
.product-card .description h5{
  padding-top:7px;
  color:#1a1a1a;
font-size:14px;
}
.star i{
   font-size:12px ;
   color:rgb(243,181,25)
}
.product-card h4{
  padding-top:7px;
  font-size:15px ;
  font-weight:  700;
  color:#088178;
}
.product-card .cart{
  width:40px;
  height:40px;
  line-height: 40px;
  border-radius:50px;
  /* background-color: #e8f6ea;*/
  
  color:#088178;
  border:1px solid #cce7d0;
  position:absolute;
  bottom:20px;
  right:10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

/* .product-card {
  width: 220px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: start;
} */

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.product-card .star{
  display: flex;
  gap:5px;
  padding:10px 0;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:url('./image/banner-photo.jpg');
  width:100%;
  height:40vh;
  background-size:cover;
  background-position: cover;
}
.product-card h5 {

    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.product-card span {
    text-align: start;
    font-size:12px;
}

#banner h4{
  color:#fff;
  font-size:16px;
}
#banner h2{
  color:#fff;
  font-size:20px;
  padding:10px;
}
#banner h2 span{
  color:#ef3636;
}
#banner button:hover{
  background-color:#088178;
  color:#fff;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:30px;
  background-image: url('./image/b17.jpg');
  min-width:560px;
  height:50vh;
  background-size:cover;
  background-position: center; 
}
#sm-banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4{
  color:#fff;
  font-size:20px;
  font-weight: 300;
}
#sm-banner h2{
  color:#fff;
  font-size:28px;
  font-weight: 800;
}
#sm-banner span{
  color:#fff;
  font-size:14px;
  font-weight: 500;
  padding-bottom:15px;
}
#sm-banner .banner-box:hover button{
  background-color: #088178;
  border:1px solid #088178;
}
#sm-banner .banner-box2{
  background-image: url('./image/b10.jpg');
}
#banner3 .banner-box{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:30px;
  background-image: url('./image/b7\ \(1\).jpg');
  min-width:30%;
  height:30vh;
  background-size:cover;
  background-position: center;
  padding:20px;
  margin-bottom:20px;
}
#banner3 .banner-box h2{
  color:#fff;
  font-weight: 900;
  font-size:22px;
}
#banner3 .banner-box h3{
  color:#ec544e;
  font-weight: 800;
  font-size:15px;
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0px 80px;
}
#banner3 .banner-box2{
  background-image:url('image/b4\ \(1\).jpg')
}
#banner3 .banner-box3{
  background-image:url('image/b18.jpg')
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image:url('image/banner.png');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color:#041e42;
}
#newsletter h4{
  font-size:22px;
  font-weight: 700;
  color:#fff;
}
#newletter p{
  font-size:14px;
  font-weight: 600;
  color:red;
}
.newstext p{
  color:#fff;
}
#newsletter p span{
  color:#ffbd27
}
#newsletter input{
  height:3.125rem;
  padding:0 1.25em;
  font-size:14px;
  width:100%;
  border:1px solid transparent;
  border-radius: 4px;
  outline:none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color:#fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form{
  display: flex;
  width:40%;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom:20px;
}
footer .log{
  margin-bottom:30px;
}
footer h4{
  font-size:14px ;
  padding-bottom:20px;
}
footer p{
  font-size:13px;
  margin:0 0 8px 0;

}
footer a{
  font-size:13px;
  margin-bottom:10px;
  text-decoration: none;
  color:#222;
}
footer .follow i{
  color:#465b52;
  padding-bottom:4px;
  cursor: pointer;
}
footer .install .row img{
  border:1px solid #088178;
  border-radius:6px
}
footer .install img{
  margin:10px 0 15px 0 ;
}
footer .follow i:hover{
  color:#088178;
}
footer a:hover{
  color:#088178;
}
footer .copyright{
  width:100%;
  text-align: center;
  font-size:16px;
  color:#606063;
}
/* loading-style */
#loading{
  display: none;
  justify-content: center;
}

#loading-container{
  display: flex;
  gap:30px;
}
.round{
  height:30px;
  width:30px;
  background-color: #088178;
  border-radius:50%;
  box-shadow: 0 -0.6rem rgba(60,0,80,0.1) inset;
  animation: cycle 1s ease-in-out infinite;
}
#loading-container div:nth-child(1){
  animation-delay: 0s;
}
#loading-container div:nth-child(2){
  animation-delay: 0.2s;
}
#loading-container div:nth-child(3){
  animation-delay: 0.4s;
}
@keyframes cycle{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translate(1rem);
  }
  100%{
    transform: translateY(0);
  }
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}
@media (max-width: 799px){
  .section-p1{
  padding:40px 40px;
}
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top:0;
    right:-300px;
    height:100vh;
    width:300px;
    background-color:#e3e6f3;
    box-shadow:0 40px 60px rgba(0,0,0,0.1);
    padding:80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active{
    right:0px;
  }
  #navbar li{
    margin-bottom:25px;
  }
#mobile{
  display: flex;
  align-items: center;
}
#mobile i{
  color:#1a1a1a;
  font-size:24px;
  padding-left:20px;
}
#close{
  text-decoration: none;
  color:#1f1f1f;
  font-weight: bolder;
  position:absolute;
  top:50px;
  left:30px;
  display: initial;
}
#lg-bag{
  display: none;
}
#hero{
   
    height:70vh;
    background-position: top 30% right 30%;
    padding:0px 80px;
    
}
.feature-single-box{
    
    margin:15px 15px;
}
#banner{
  height:20vh;
}
#sm-banner .banner-box{
  
  min-width:100%;
  height:30vh;
  
}
#banner3{
  
  padding:0px 40px;
}
#banner3 .banner-box{
  
  width:28%;
  
}
#newsletter .form{
  
  width:70%;
}
.product-container {
   
    gap: 20px;
    
}
}

@media (max-width: 800px){
  #blog .blog-box{
  display: flex;
  flex-direction: column!important;
  align-items: flex-start!important;
}
#blog{
  padding:100px 20px 0px 20px !important;
}
.blog-box .blog-img{
  
  width:100%!important;
  margin-right: 0px!important;
  margin-bottom: 30px!important;
}
#blog .blog-details{
  width:100%!important;
}
}
@media (max-width: 1059px){
  #feature{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
#banner {
   
    height: 50vh;
    
}

}
@media (max-width: 1279px){
  #sm-banner .banner-box {
   
    min-width: 100%;
    height: 40vh;
    
}

}
@media (max-width: 1207px){
  #banner3 .banner-box {
    min-width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
}
/* shop-page */
#page-header{
  background-image: url('./image/b1\ \(1\).jpg');
  width:100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:14px;
}
#page-header h2,
#page-header p{
  color:#fff;
}
#pagination{
  padding:20px 0;
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding:15px 20px;
  border-radius: 4px;
  color:#fff;
  font-weight: 600;
}
#pagination a i{
  font-size:15px;
  font-weight: 600;
}
/* single-product */
#prodetails {
  display: flex;
  align-items: center;
  margin-top:20px;
}
#prodetails .single-pro-image{
  width:40%;
  margin-right:50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.smaill-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details{
  width:50%;
  padding-top:30px;
}
#prodetails .single-pro-details h4{
  padding:30px 0 20px 0;
}
#prodetails .single-pro-details h2{
  padding:30px 0 20px 0;
  font-size:26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding:5px 10px;
  margin-bottom:10px;
}
#prodetails .single-pro-details input{
  width:50px;
  height:47px;
  padding-left:10px;
  font-size:16px;
  margin-right:10px;
}
#prodetails .single-pro-details button{
  background-color: #088178;
  color:white;
}
#prodetails .single-pro-details input:focus{
  outline:none;
}
#prodetails .single-pro-details span{
  line-height: 25px;
}
/* blog-header */
#page-header.blog-header{
  background-image: url('./image/b19.jpg');
}
#blog{
  padding:150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width:100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
 width:50%;
 margin-right:40px;
}
#blog img{
  width:100%;
  height:300px;
  object-fit: cover;
}
#blog .blog-details{
 width:50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size:11px;
  color:#000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after{
  content:"";
  width:50px;
  height:1px;
  background-color: #000;
  position: absolute;
  top:4px;
  right:-60px;
}
#blog .blog-details a:hover{
  color:#088178;
}

#blog .blog-details a:hover::after{
  background-color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top:-40px;
  left:0;
  font-size:70px;
  font-weight: 700;
  color:#c9cbce;
  z-index: -9;
}
/* about html */
#page-header.about-header{
  background-image: url('image/banner.png');
}
#about-head img{
  width:50%;
  height: auto;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head div{
  padding-left:40px;
}
#about-app{
  text-align: center;
}
#about-app .video{
  width:70%;
  height:100%;
  margin:30px auto 0 auto;
}
#about-app .video video{
  width:100%;
  height:100%;
  border-radius: 20px;
}
@media (max-width: 477px){
  #header{
    padding:10px 30px;
  }
  #hero{
   padding:0 20px;
   background-position: 55%;
  }
  h2{
    font-size:32px;
  }
  h1{
    font-size:38px;
  }
  .section-p1{
    padding:20px;
  }
  .feature-single-box{
    width:155px;
    
    margin:0px 0px 15px 0;
}
.product-card{
  width:100%;
 
}
#banner{
  height:40vh;
}
#sm-banner .banner-box{
  height:40vh;
  
}
#banner3 .banner-box{
  width:100%;
}
#banner3 {
        padding: 0px 20px;
    }
#newsletter .form{
  
  width:100%;
}
#newletter{
  padding:40px 20px;
}
footer .copyright{
  text-align: start;
}
/* single-product-sproduct */
#prodetails{
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image {
    width: 100%!important;
    margin-right: 0px!important
}
#prodetails .single-pro-details {
    width:100%!important;
}
/* blog page */
#blog .blog-box{
  display: flex;
  flex-direction: column!important;
  align-items: flex-start!important;
}
#blog{
  padding:100px 20px 0px 20px !important;
}
.blog-box .blog-img{
  
  width:100%!important;
  margin-right: 0px!important;
  margin-bottom: 30px!important;
}
#blog .blog-details{
  width:100%!important;
}
/* about-page */

}